# IntelliJ IDEA / Android Studio
*.iml
.idea/
.gradle/
local.properties
.DS_Store
/captures
.externalNativeBuild
.artifacts/
.kotlin/

# Build outputs
**/build/

# Xcode
# ========================
**/iosDemo.xcodeproj/xcuserdata/
**/iosDemo.xcodeproj/project.xcworkspace/
**/DerivedData/
*.xcuserstate
*.xccheckout
*.xcscmblueprint
